{{- $id := .id -}}
{{- $label := .label -}}
{{- $page := .page -}}
<li class="faros-nav-disclosure" @mouseenter="cancelClose(); active = '{{ $id }}'" @mouseleave="scheduleClose()">
  <button
    type="button"
    class="faros-navlink faros-nav-trigger"
    @click="toggle('{{ $id }}')"
    :aria-expanded="(active === '{{ $id }}').toString()"
    aria-controls="faros-{{ $id }}-menu"
    x-ref="trigger-{{ $id }}"
  >
    {{ $label }}
    <svg class="faros-nav-chevron" :class="{ 'is-open': active === '{{ $id }}' }" viewBox="0 0 12 12" fill="none" stroke="currentColor" aria-hidden="true"><path d="m3 4.5 3 3 3-3" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/></svg>
  </button>

  <div
    id="faros-{{ $id }}-menu"
    class="faros-nav-dropdown faros-nav-dropdown-{{ $id }}"
    x-show="active === '{{ $id }}'"
    x-transition:enter="transition ease-out duration-100"
    x-transition:enter-start="opacity-0 -translate-y-1"
    x-transition:enter-end="opacity-100 translate-y-0"
    x-transition:leave="transition ease-in duration-75"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
    @mouseenter="cancelClose()"
    @mouseleave="scheduleClose()"
    @click.away="active = null"
    x-cloak
  >
    {{ partial (printf "navigation/%s.html" $id) $page }}
  </div>
</li>
