<script src="{{ partial "asset-url.html" "/js/site-theme.js" }}"></script>
<link rel="icon" href="/favicon.ico">
<link rel="preload" href="/fonts/violet-circuit/instrument-sans.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/violet-circuit/archivo.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="{{ partial "asset-url.html" "/css/connected-base.css" }}">
{{ if .IsHome }}<link rel="stylesheet" href="{{ partial "asset-url.html" "/css/connected-layers.css" }}"><link rel="stylesheet" href="{{ partial "asset-url.html" "/css/request-path.css" }}">{{ end }}
<link rel="stylesheet" href="{{ partial "asset-url.html" "/css/connected-theme.css" }}">
{{ if .IsHome }}<link rel="stylesheet" href="{{ partial "asset-url.html" "/css/connected-open-source.css" }}">{{ end }}
<link rel="stylesheet" href="{{ partial "asset-url.html" "/css/connected-marketing.css" }}">
