<script src="/js/site-theme.js"></script>
<link rel="icon" href="/favicon.ico">
<link rel="preload" href="/fonts/violet-circuit/instrument-sans.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/violet-circuit/archivo.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="/css/connected-base.css">
{{ if .IsHome }}<link rel="stylesheet" href="/css/connected-layers.css"><link rel="stylesheet" href="/css/request-path.css">{{ end }}
<link rel="stylesheet" href="/css/connected-theme.css">
{{ if .IsHome }}<link rel="stylesheet" href="/css/connected-open-source.css">{{ end }}
<link rel="stylesheet" href="/css/connected-marketing.css">
