<aside class="relative mt-12 lg:mt-0 lg:w-64 lg:ml-16 lg:flex-shrink-0" data-aos="fade-down" data-aos-delay="400">
    <div class="mb-8">
        <h4 class="h4 font-red-hat-display mb-5">Faros QuickStart</h4>
        <ul class="-my-3">
            <li class="flex py-3 border-b border-gray-200 dark:border-gray-800">
                <div class="h4 w-12 font-red-hat-display text-gray-400 dark:text-gray-600 flex-shrink-0 mt-1">01</div>
                <article>
                    <a class="hover:underline" href="/docs/how-to-create-faros-account/">
                        <h3 class="font-red-hat-display font-bold tracking-tight mb-1">
                            How to create Faros cloud account
                        </h3>
                    </a>
                    <div class="text-sm text-gray-500">
                        By <a class="font-medium text-gray-800 dark:text-gray-400 hover:underline" href="#0">Mangirdas Judeikis</a> · <span class="text-gray-500">May 2nd, 2024</span>
                    </div>
                </article>
            </li>
            <li class="flex py-3 border-b border-gray-200 dark:border-gray-800">
                <div class="h4 w-12 font-red-hat-display text-gray-400 dark:text-gray-600 flex-shrink-0 mt-1">02</div>
                <article>
                    <a class="hover:underline" href="/docs/how-to-create-faros-workspace/">
                        <h3 class="font-red-hat-display font-bold tracking-tight mb-1">
                            Create first workspace and invite team members
                        </h3>
                    </a>
                    <div class="text-sm text-gray-500">
                        By <a class="font-medium text-gray-800 dark:text-gray-400 hover:underline" href="#0">Mangirdas Judeikis</a> · <span class="text-gray-500">May 2nd, 2024</span>
                    </div>
                </article>
            </li>
            <li class="flex py-3 border-b border-gray-200 dark:border-gray-800">
                <div class="h4 w-12 font-red-hat-display text-gray-400 dark:text-gray-600 flex-shrink-0 mt-1">03</div>
                <article>
                    <a class="hover:underline" href="/docs/how-to-mount-a-remote-kubernetes-cluster-to-faros/">
                        <h3 class="font-red-hat-display font-bold tracking-tight mb-1">
                            Mount remote cluster to Faros cloud
                        </h3>
                    </a>
                    <div class="text-sm text-gray-500">
                        By <a class="font-medium text-gray-800 dark:text-gray-400 hover:underline" href="#0">Mangirdas Judeikis</a> · <span class="text-gray-500">May 2nd, 2024</span>
                    </div>
                </article>
            </li>
        </ul>
    </div>

</aside>
