<!-- drawer component -->
{{ $sidebarCacheLimit := .Site.Params.ui.sidebar_cache_limit | default 2000 -}}
{{ $shouldDelayActive := ge (len .Site.Pages) $sidebarCacheLimit -}}
<div id="drawer-navigation" class="hidden fixed top-0 left-0 z-40 w-64 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-navigation-label">
    <button onclick=toggle() type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 end-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
  <div class="py-4 overflow-y-auto">

   {{ $navRoot := cond (and (ne .Params.toc_root false) (eq .Site.Home.Type "docs")) .Site.Home .FirstSection -}}
   {{ $ulNr := 0 -}}
   {{ $ulShow := .Site.Params.ui.ul_show | default 1 -}}
   {{ $sidebarMenuTruncate := .Site.Params.ui.sidebar_menu_truncate | default 50 -}}
      <ul class="space-y-2 font-medium ul-{{ $ulNr }}">
         <li>
            {{ range (.Pages.GroupBy "Section" "docs") }}
               {{ .Key }}

               {{ range .Pages }}

                  {{ .Title }}

               {{ end }}
            {{ end }}
               <span class="ml-2 text-sm tracking-wide truncate">
                  {{ template "section-tree-nav-section" (dict "page" . "section" $navRoot "shouldDelayActive" $shouldDelayActive "sidebarMenuTruncate" $sidebarMenuTruncate "ulNr" $ulNr "ulShow" (add $ulShow 1)) }}
               </span>
          </li>
      </ul>
   </div>
</div>

{{.Site}}

{{ define "section-tree-nav-section" -}}
{{ range $index, $element := .Site.Pages "docs" }}
        <li><a href="{{ .URL }}">{{ $element.Title }}</a>
            <ul>
                {{ range .Pages }}
                    <li><a href="{{ .URL }}">{{ .Title }}</a></li>
                    {{ template "section-tree-nav-section" $element }}
                {{ end }}
            </ul>
        </li>
    {{ end }}
{{ end }}

<script>

const menu = document.getElementById('drawer-navigation');
function toggle(){
   menu.classList.toggle("hidden");
}

</script>
